<!DOCTYPE html>
<html lang="en">
<head>

{% if user.is_authenticated %}
<form method="POST" action="{% url 'logout' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Logout</button>
</form>
{% else %}
    <a href="/accounts/login" class="button">Login</a>
{% endif %}

    <link rel="stylesheet" href="style.css">
    <title>{% block title %}Recipe Book{% endblock %}</title>
{% block styles %}{% endblock %}

<header>{% block header %} <h1> Recipe Book </h1> 
<h2> {{ request.resolver_match.url_name|title }}</h2>
{% endblock %}
</header>

</head>

<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    {% block scripts %}{% endblock %}
</body>
</html>